// 设置全局可选复用的css类名
// 清除浮动
@import '../../assets/css/variable';
.clearfix{

  &::after{
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
  }
}

.el-input__suffix{
  right: 8px !important;
}
.el-input__prefix{
  left: 8px !important;
}
// 左浮动/右浮动
.float-left{
  float: left;
}

.float-right{
  float: right;
}
// 文字对齐方式：左右/居中
.align-center{
  text-align: center;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}
// 高度宽 度设置占满
.full-height{
  height:100%;
}

.full-width{
  width:100%;
}

.small-text{
  font-size:8px;
}

.light-text{
  color:#9DA0A3;
}
.nav-light-text{
  color: #606266;
}

.primary-text{
  color: $themeColor;
}

.primary-text{
  color: #117FD1;
}

.success-text{
  color: #409D2D;
}

.warning-text{
  color: #FF931E;
}

.danger-text{
  color: #FF455B;
}

.info-text{
  color: #878A8D;
}

.hover-bgc:hover{
  transition: all .5 linear;
  background-color: rgba($color: $themeColor, $alpha: .05);
  color: rgba($color: $themeColor, $alpha: .95);
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.radial-text-primary{
  border-radius:50%;
  display: inline-block;
  height: 17px;
  width: 17px;
  line-height: 17px;
  text-align: center;
  color:$lightTextColor;
  font-size:12px;
  margin:0 5px;
  background-color: rgba($color: $themeColor, $alpha: .95);
}
.right-corner-primary{
  position: absolute;
  top:12px;
  right: 66px;
  font-size: 6px;
  color:$lightTextColor;
  display: block;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius:50%;
  background-color: $themeColor;
}

.square-grey-text{
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  background-color: #9DA0A3;
  border-radius: 4px;
  text-align: center;
  color:#fff;
}

.er-card{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  // padding: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  .card-title{
    font-size: 15px;
    padding: 12px 20px;
    height: 10px;
    line-height: 10px;
    border-bottom: 1px solid #ebeef5;
    b{
      margin-left: 10px;
    }
  }
}