// 设置全局可选复用的css类名
// 清除浮动
.clearfix{

  &::after{
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
  }
}
// 左浮动/右浮动
.float-left{
  float: left;
}

.float-right{
  float: right;
}
// 文字对齐方式：左右/居中
.align-center{
  text-align: center;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}
// 高度宽 度设置占满
.full-height{
  height:100%;
}

.full-width{
  width:100%;
}

.light-text{
  color:#9DA0A3;
}
.text-overflow-hidden {
  width: 100%;
  text-overflow: ellipsis;
}