// 设置全局可选复用的css类名
// 清除浮动
@import '../../assets/css/variable';
.clearfix{

  &::after{
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
  }
}
// 左浮动/右浮动
.float-left{
  float: left;
}

.float-right{
  float: right;
}
// 文字对齐方式：左右/居中
.align-center{
  text-align: center;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}
// 高度宽 度设置占满
.full-height{
  height:100%;
}

.full-width{
  width:100%;
}

.light-text{
  color:#9DA0A3;
}

.text-overflow-hidden {
  width: 100%;
  text-overflow: ellipsis;
}

.radial-text-primary{
  border-radius:50%;
  display: inline-block;
  height: 17px;
  width: 17px;
  line-height: 17px;
  text-align: center;
  color:$lightTextColor;
  font-size:12px;
  margin:0 5px;
  background-color: rgba($color: $themeColor, $alpha: .85);
}
.right-corner-primary{
  position: absolute;
  top:10px;
  right: 6px;
  font-size: 6px;
  color:$lightTextColor;
  display: block;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius:50%;
  background-color: $themeColor;
}

.er-card{
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
}