/* TODO 引入本项目的字体图标库 */
@import "https://at.alicdn.com/t/font_760883_wu2g9y8lzb.css";
[class^="ercp-icon"], [class*=" ercp-icon"] {
  font-family: "iconfont" !important;
  
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
